*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("bg.jpeg");
	background-size: cover;
	font-size: 14px;
	color: black;
}
#wrapper{
		width: 800px;
		margin-left: auto;
		margin-right: auto;
}
#header{
	height: 60px;
	padding-bottom: 5px;
}
#logo{
	text-shadow: 1px 1px 1px black;
	justify-content: space-around;
	min-height: 10vh;
	font-size: 36px;
	text-align: left;
	padding: 5px;
	margin: 5px;
}
.Post {
	background-color:floralwhite;
	margin-top: 10px;
	border: 1px solid;
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
	margin-bottom: 5px;
	color: black;
	font-family: sans-serif;
	font-size: 15px;
}
h2{
	font-family: sans-serif;
	font-size: 30px;
	text-align: center;
	color: black;
	padding: 10px;
	margin: 10px;
	background-color: #5d4953;
	opacity: 80%;
}
h5{
	font-family: sans-serif;
	font-size: 15px;
	text-align: justify;
	padding: 5px;
	margin: 5px;

}
h4{
	text-align: center;
	font-family: Verdana;
	font-size: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
}
h6{
	text-align: justify;
	font-family: sans-serif;
	font-size: 15px;
	padding: 5px;
	margin: 5px;
}
span{
	padding: 10px;
	margin: 10px;
	font-size: 15px;
}