*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-image: url("bg.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #5D4954;
	font-family: 'Poppins', sans-serif;
}

.logo{
	color: whitesmoke;
	text-transform: uppercase;
	letter-spacing: 20px;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	width: 30%;
}
.nav-links li{
	list-style: none;
}
.nav-links a{
	color: rgb(226,226,226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
